{{#> layout title='Edit Feedback' }}
<div class="container">
      <div class="holder">
        <div class="title">
          <h2>Edit Feedback</h2>
        </div>
        <div class="login">
          <form action="/edit-feedback" method="post">
             <input type="hidden" name="csrf" value="{{csrf}}">
             <input type="hidden" name="id" value="{{id}}">
            <input type="email" placeholder="Email" name="email" id="email" required value="{{email}}" />
            <input type="text" placeholder="Name" name="name" id="name" required value="{{name}}" />
            <input type="file" name="file" id="file">
            <textarea name="comment" id="comment" cols="40" rows="10" required>{{comment}}</textarea>
            <input type="text" placeholder="Captcha" name="captcha" id="captcha" required value="{{captcha}}" />
            <img class="captcha-image" src="{{captchaImage}}" >
            <input type="submit" value="Save" />
              
             {{#each errors}}
              <p class="error">{{this}}</p>
              {{/each}}

              {{#each success}}
              <p class="success">{{this}}</p>
              {{/each}}
          </form>
        </div>
      </div>
    </div>
{{/layout}}
