{{#> layout title='Register' }}
<div class="container">
      <div class="holder">
        <div class="title">
          <h2>Register</h2>
        </div>
        <div class="login">
          <form action="/register" method="post" >
            <input type="text" placeholder="Name" name="name" id="name" value="{{name}}" />
            <input type="email" placeholder="Email" name="email" id="email" value="{{email}}" />
            <input type="password" placeholder="Password" name="password" id="password" value="{{password}}" />
            <input type="submit" value="Register" />
            <p>Already have an account? <a href="/login">Login</a></p>
            
              {{#each errors}}
              <p class="error">{{this}}</p>
              {{/each}}

              {{#each success}}
              <p class="success">{{this}}</p>
              {{/each}}
          </form>
        </div>
      </div>
    </div>
{{/layout}}
