{{#> layout title='Dashboard' }}
    <div class="feedback-container">
      <div class="action-holder">
        <H2>Users List</H2>
      </div>
      <div class="action-holder">
        <a id="add-feedback-button" href="/feedbacks">Feedbacks List</a>
        <form class="logout-form" action="/logout" method="POST">
        <input type="hidden" name="csrf" value="{{csrf}}">
        <input type="submit" value="Logout">
        </form>
      </div>
      {{#each users}}
      <div class="card-holder">
        <div class="card">
          <p>{{this.name}}</p>
          <p>{{this.email}}</p>
          <div class="action-holder">
            {{#if this.disabled}}
              <form class="logout-form" action="/enable?id={{this.id}}" method="POST">
                <input type="hidden" name="csrf" value="{{csrf}}">
                <input type="submit" value="Enable">
              </form>
            {{else}}
              <form class="logout-form" action="/disable?id={{this.id}}" method="POST">
                <input type="hidden" name="csrf" value="{{csrf}}">
                <input type="submit" value="Disable">
              </form>
            {{/if}}
          </div>
        </div>
      </div>
      {{/each}}
    </div>
{{/layout}}
